<% content_for :head do %>
    <title>GoToStylist, Find and Book Stylists On Your Schedule</title>
    <meta name="description" content="GoToStylist is your go-to resource for finding and booking a stylist wherever, whenever!" />

    <!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@Go2Stylist"> 
    <meta name="twitter:creator" content="@Go2Stylist">
    <meta name="twitter:title" content="GoToStylist, Find and Book Stylists On Your Schedule"> 
    <meta name="twitter:description" content="">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="GoToStylist is your go-to resource for finding and booking a stylist wherever, whenever!">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="GoToStylist.com" />
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="GoToStylist, Find and Book Stylists On Your Schedule" />        
    <meta property="og:description" content="GoToStylist is your go-to resource for finding and booking a stylist wherever, whenever!" /> 
    <meta property="og:image" content="" />
<% end %>

<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><i class="glyphicon glyphicon-scissors"></i> GoToStylist</h1>
                        <h3>Find and Book Stylists On Your Schedule...</h3>
                        <hr class="intro-divider">

                        <div class="col-sm-6 col-sm-offset-3">
                        <%= form_tag search_path, method: :get do %>
                            <div class="row">
                                <div class="col-md-8 col-sm-offset-2">
                                    <%= text_field_tag :search, params[:search], placeholder: "Where Are You?", class: "form-control" %>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4 ">
                                    <%= submit_tag "Search", class: "btn btn-primary" %>
                                </div>
                            </div>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    
    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <h3>Featured Stylists</h3>
            <div class="row">
                <% @stylists.each do |stylist| %>

                   <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <%= link_to stylist_path(stylist) do %>
                                <div class="panel-heading preview">
                                    <%= image_tag stylist.photos[0].image.url(:medium) if stylist.photos.length > 0 %>
                                </div>
                                <div class="panel-body">
                                    
                                        <%= stylist.stylist_name %>
                                        at
                                        <%= stylist.salon_name %>    
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
<% if(!user_signed_in?) %>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Book your next hair cut or style around your schedule...</h2>
                    <p class="lead">Have time to get your hair cut Friday at Noon... Cool! GoToStylist's search engine will match you with stylists in the area with openings during that time window. Pick a Stylist and you're all set!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://images.unsplash.com/photo-1423666639041-f56000c27a9a" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Book your Favorite Stylist...<br>At a time convenient for both of you!</h2>
                    <p class="lead">Save your favorite stylist to your favorites list, book time with them online, walk into the salon, and get styled. GoToStylist will even send you a reminder 24 hours ahead of your appointment!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">We Guarantee the Best...<br> And Remove The Rest</h2>
                    <p class="lead">We closely monitor the rating of every stylist... If they're not getting the best reviews, we remove them from the network. Period</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2><i class="glyphicon glyphicon-scissors"></i> Let's Get Social!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                    
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>

                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
    <% end %>

    <script>
    $(function() {
        $("#start_time").datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            maxDate: '3m',
            onSelect: function(selected) {
                $('#end_time').datepicker("option", "minDate", selected);
                $('#end_time').attr('disabled', false);
            }
        });

        $("#end_time").datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            maxDate: '3m',
            onSelect: function(selected) {
                $('#start_time').datepicker("option", "maxDate", selected);
            }
        });
    })


</script>
    

   