<div class="container">
<div id="wrapper">
	
	<div id="sidebar">
		<div id="widget" class="sticky">
			
		</div>
	</div>

	<div id="article">
		
		<div class="row devise">
			<%= search_form_for @search, url: search_path do |f| %>
				
				
				<div class="row">
					<div class="col-sm-12"><h3>Search Results</h3></div>
					<% @arrStylists.each do |stylist| %>
						
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<%= link_to stylist_path(stylist) do %>
									<div class="panel-heading preview">
										<%= image_tag stylist.photos[0].image.url(:medium) if stylist.photos.length > 0 %>
									</div>
									<div class="panel-body">
										
											<%= stylist.stylist_name %>
											at
											<%= stylist.salon_name %>	
									</div>
								<% end %>
								
							</div>
						</div>

					<% end %>
				</div>

			<% end %>
			
		</div>

	</div>

</div>
</div>

<script>
	$(function() {
		$("#start_time").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_time').datepicker("option", "minDate", selected);
				$('#end_time').attr('disabled', false);
			}
		});

		$("#end_time").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_time').datepicker("option", "maxDate", selected);
			}
		});
	})
</script>