<script>
	$(document).ready(function() {
	    var text_max = 75;
	    $('#stylistname-count').html(text_max + ' characters remaining');

	    $('#stylistname').keyup(function() {
	        var text_length = $('#stylistname').val().length;
	        var text_remaining = text_max - text_length;

	        $('#stylistname-count').html(text_remaining + ' characters remaining');
	    });
	});
</script>

<div class="panel panel-default">
	<div class="panel-heading">
		Create your Stylist Profile!!!
	</div>
	<div class="panel-body">
		<div class="container">
			<div class="col-md-10">


			<%= form_for @stylist, :html => { multipart: true } do |f| %>

				<div class="row">

					<h3>Stylist Info</h3>
					<p>This profile is what will put you on the map. Please take a couple moments to fill it out with as much detail as possible. Required fields have a * next to the title. </p>
					<hr>
					
					<div class="form-group">
						
						<label>Stylist Name *</label><div id="stylistname-count" class="rightcount"></div>
						<%= f.text_field :stylist_name, id: "stylistname", placeholder: "Stylist Name", class: "form-control" %>
						
					</div>
					

					
					<div class="form-group">

						<label>Primary Title *</label>
							<%= f.select :primary_title, [["Stylist","Stylist"], ["Esthetician","Esthetician"], ["Colorist","Colorist"], ["Makeup Artist","Makeup Artist"], ["Nail Artist","Nail Artist"]],prompt: "Select...", class: "form-control" %>
		
					</div>
					
					
					<div class="form-group">

						<label>Short Intro / Claim to Fame / Fun Fact *</label>
						<%= f.text_field :short_intro, placeholder: "Why are you awesome (in 140 characters or less)", class: "form-control" %>
		
					</div>
					
					
					<div class="form-group">

						<label>About The Stylist *</label>
						<%= f.text_area :about_the_stylist, rows: 10, placeholder: "Tell the client about you. Include Experience, Awards, Special Training, Preferences, Strengths (coarse hair, color, women's or men's styles, etc), Hobbies, and More...", class: "form-control" %>
		
					</div>
					
					
					<div class="form-group select">

						<label>Primary Services Provided *</label>
						<%= f.text_field :services_provided, placeholder: "Cut, Color, Cut & Color, Makeup, Waxing, etc...", class: "form-control" %>
		
					</div>

					
					<div class="form-group">

						<label>Normal Hourly Rate *</label>
						<%= f.text_field :price, placeholder: "45 - Number only, no dollar sign", class: "form-control" %>
		
					</div>
				

					<!-- End of Stylist Info / Start of Stylist Web and Social Links -->
					<br>
					<h3>Stylist Web and Social Links</h3>
					<p>If you're into leveraging the web and Social Media, include your links here so that clients and prospective clients can find you online! All of these fields are optional ;-)</p>
					<hr>	

					<div class="form-group">

						<label>Stylist Website</label>
						<%= f.url_field :stylist_website, placeholder: "http://www.example.com", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Facebook Page</label>
						<%= f.url_field :stylist_facebook, placeholder: "http://www.facebook.com/example-page", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Twitter Profile</label>
						<%= f.url_field :stylist_twitter, placeholder: "http://www.twitter.com/go2stylist", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Instagram Profile</label>
						<%= f.url_field :stylist_instagram, placeholder: "http://www.instagram.com/yourprofile", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Periscope Profile</label>
						<%= f.url_field :stylist_periscope, placeholder: "http://www.periscope.tv/yourprofile", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Pinterest Profile</label>
						<%= f.url_field :stylist_pinterest, placeholder: "http://www.pinterest.com/yourprofile", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Snapchat Profile Link</label>
						<%= f.url_field :stylist_snapchat, placeholder: "http://www.snapchat.com/add/yourprofile", class: "form-control" %>
		
					</div>

					<!-- End of Stylist Stylist Web and Social Links / Start of Salon Info -->
					<br>
					<h3>Salon Info</h3>
					<p>Let's make certain that your clients can always find you. If you ever change salons, just change this info!</p>
					<hr>
					
					<div class="form-group">

						<label>Salon Name *</label>
						<%= f.text_field :salon_name, placeholder: "Salon Name", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Salon Website</label>
						<%= f.url_field :salon_website, placeholder: "http://www.example.com", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Salon Facebook Page</label>
						<%= f.url_field :salon_facebook, placeholder: "http://www.facebook.com/example-page", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Salon Phone Number</label>
						<%= f.text_field :salon_phone, placeholder: "(555) 555-1212", class: "form-control" %>
						<p>Ex: (555) 555-1212</p>
		
					</div>

					<div class="form-group">

						<label>Salon City *</label>
						<%= f.text_field :city, placeholder: "Boulder", class: "form-control" %>
		
					</div>

					<div class="form-group">

						<label>Salon State *</label>
						<%= f.text_field :state, placeholder: "Colorado", class: "form-control" %>
					</div>
					

					<div class="form-group">

						<label>Full Salon Address *</label>
						<%= f.text_field :address, placeholder: "1427 Pearl St, Boulder, CO 80304", class: "form-control" %>
					<p>Please use the address as it appears in Google Maps. </p>
					</div>
				</div>

				<div class="row">
					<br>
					<h3>Portfolio Images</h3>
					<p>Put your best work on display and share your talent with the world. Right now, we're limiting profiles to 3 images... Help us grow, and we'll increase that limit soon!</p>
					<hr>
					<div class="col-md-4">
						<div class="form-group">
							<span class="btn btn-default btn-file">
								<i class= "fa fa-cloud-upload fa-lg"></i> Upload Portfolio Photos
								<%= file_field_tag "images[]", type: :file, multiple: true %>
							</span>
							<p>Maximum 3 photos. File size must be less than 6 megabytes. </p>
						</div>	
					</div>
				</div>

				<div id="photos"><%= render 'photos/list' %></div>		

				<div class="row">
					<div class="form-group">
						<%= f.check_box :active %> Active
					</div>
				</div>

				<div class="actions">
					<%= f.submit "Save", class: "btn btn-primary" %>
				</div>

			<% end %>
			</div>
		</div>	
	</div>
</div>




