<div class="panel panel-default">
	<div class="panel-heading">
		Create your Stylist Profile!!!
	</div>
	<div class="panel-body">
		<div class="container">

			<%= form_for @stylist, :html => { multipart: true } do |f| %>

				<div class="row">
					<div class="form-group">

						<label>Stylist Name</label>
						<%= f.text_field :stylist_name, placeholder: "Stylist Name", class: "form-control" %>
		
					</div>
					<div class="form-group">

						<label>About The Stylist</label>
						<%= f.text_area :about_the_stylist, rows: 10, placeholder: "Tell the client about you. Include Experience, Awards, Special Training, Preferences, Strengths (coarse hair, color, women's or men's styles, etc), Hobbies, and More...", class: "form-control" %>
		
					</div>
					<div class="form-group">

						<label>Primary Services Provided</label>
						<%= f.text_field :services_provided, placeholder: "Services Provided", class: "form-control" %>
		
					</div>

					<hr>

					<div class="form-group">

						<label>Address</label>
						<%= f.text_field :address, placeholder: "Primary Salon Address", class: "form-control" %>
		
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<%= f.check_box :works_in_salon %> Available In The Salon
						</div>
						<div class="form-group">
							<%= f.check_box :works_in_office %> Available For Office Visits
						</div>
						<div class="form-group">
							<%= f.check_box :works_in_home %> Available For In-Home Visits
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<span class="btn btn-default btn-file">
								<i class= "fa fa-cloud-upload fa-lg"></i> Upload Photos
								<%= file_field_tag "images[]", type: :file, multiple: true %>
							</span>
						</div>	
					</div>
				</div>

				<div id="photos"><%= render 'photos/list' %></div>		

				<div class="actions">
					<%= f.submit "Save", class: "btn btn-primary" %>
				</div>

			<% end %>

		</div>	
	</div>
</div>
