<div class="container">
	<div class="row devise">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>My Stylist Profiles</h4>
				</div>

				<% @stylists.each do |stylist| %>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<h4><%= image_tag stylist.photos[0].image.url(:thumb) if stylist.photos.length > 0 %></h4>
							</div>
							<div class="col-md-7">
								<h4><%= stylist.stylist_name %></h4>
							</div>
							<div class="col-md-3 right">
								<%= link_to "Update", edit_stylist_path(stylist), class: "btn btn-primary" %>
								<%= link_to "Delete", stylist_path(stylist), method: :delete, data: {confirm: "Deletions are permanent, are you sure you'd like to proceed?"}, class: "btn btn-primary" %>
							</div>
						</div>
					</div>
				<% end %>
				<%= link_to "Create a New Stylist Profile", new_stylist_path, class: "btn btn-primary green" %>
			</div>
		</div>
	</div>
</div>
