<% content_for :head do %>
	<title><%= @stylist.primary_title %> <%= @stylist.stylist_name %>, <%= @stylist.salon_name %> - <%= @stylist.salon_phone %></title>
	<meta name="description" content="<%= @stylist.short_intro %>" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@go2stylist"> 
    <meta name="twitter:creator" content="@go2stylist">
    <meta name="twitter:title" content="<%= @stylist.primary_title %> <%= @stylist.stylist_name %> at <%= @stylist.salon_name %>"> 
    <meta name="twitter:description" content="<%= @stylist.about_the_stylist %>">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content=" ">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="GoToStylist" />
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="<%= @stylist.primary_title %> <%= @stylist.stylist_name %> at <%= @stylist.salon_name %>" />        
    <meta property="og:description" content="<%= @stylist.about_the_stylist %>" /> 
    <meta property="og:image" content=" " />
<% end %>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			
			<!-- Image -->
			<div class="row">
				<div class="col-md-4">
					<h1 class="stylist_title"><%= @stylist.primary_title %></h1>
					<h1 class="stylist_name"><%= @stylist.stylist_name %></h1>
					<h1 class="salon_name">at <%= @stylist.salon_name %></h1>
					<h1 class="salon_name"><%= @stylist.salon_phone %></h1>
					<hr>
					<h2 class="stylist_intro"><%= @stylist.short_intro %></h2>
					<p class="normal"><%= @stylist.about_the_stylist %></p>
					
					<!-- <hr> -->

					<h4>Services: <%= @stylist.services_provided %></h4>
					<!-- <hr> -->
					<!-- Service and Appointment Form to Go Here -->
					

				</div>

				<div class="col-md-8">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
					  
						<% if @photos %>
							<!-- Indicators -->
					    <ol class="carousel-indicators">
								<% @photos.each do |photo| %>
									<li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
								<% end %>	
							</ol>				
						<% end %>     

					  <div class="carousel-inner" role="listbox">
					    <% if @photos %>				
								<% @photos.each do |photo| %>
									<div class="item <%= 'active' if photo.id == @photos[0].id %>">          
					          <%= image_tag photo.image.url() %>
					        </div>
								<% end %>	
							<% end %>
					  </div>

					  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>				
				</div>
			</div>	
			<br>
			<hr>
			<!-- Google Map -->
			<div class="row">
				<div class="col-md-12">
					<h2><%= @stylist.salon_name %>
					<h3 class="salon_name"><%= @stylist.address %> - <%= @stylist.salon_phone %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					
					<div id="map"></div>

					<style>
			      #map {
			        width: 100%;
			        height: 400px;
			      }
			    </style>

			    <script src="https://maps.googleapis.com/maps/api/js"></script>
			    <script>
			      function initialize() {
			        var mapCanvas = document.getElementById('map');
			        var mapOptions = {
			          center: new google.maps.LatLng(<%= @stylist.latitude %>, <%= @stylist.longitude %>),
			          zoom: 15,
			          mapTypeId: google.maps.MapTypeId.ROADMAP
			        }
			        var map = new google.maps.Map(mapCanvas, mapOptions);

			        var marker = new google.maps.Marker({
			        	position: new google.maps.LatLng(<%= @stylist.latitude %>, <%= @stylist.longitude %>),
			        	title: "GoToStylist" 
			        });

			        marker.setMap(map);
			      }
			      google.maps.event.addDomListener(window, 'load', initialize);
			    </script>


				</div>
			</div>

			<!-- Close by Rooms -->
			<h3>More Great Stylists Near by</h3>
			<div class="row">
				<% for stylist in @stylist.nearbys(10).max(6).shuffle %>
					
					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<%= link_to stylist_path(stylist) do %>
							<div class="panel-heading preview">
								<%= image_tag stylist.photos[0].image.url(:medium) %>
							</div>
							<div class="panel-body">
                                
                                    <%= stylist.stylist_name %>
                                    at
                                    <%= stylist.salon_name %>

                                <% end %>
								<br>
								(<%= stylist.distance.round(2) %> miles away)
							</div>
						</div>
					</div>
				<% end %>
			</div>


		</div>
	</div>
</div>

