<%= form_for([@stylist, @stylist.appointments.new]) do |f| %>
	<div class="row">
		<div class="col-md-6">
			<label>Appointment Start Time</label>
			<%= f.text_field :start_date, readonly: 'true', placeholder: 'Start Time', class: 'form-control' %>
		</div>
		<div class="col-md-6">
			<label>Appointment End Time</label>
			<%= f.text_field :end_date, readonly: 'true', placeholder: 'End Time', disabled: 'true', class: 'form-control' %>
		</div>
	</div>
	<br>
	<%= f.submit "Book Me Now", class: "btn btn-primary" %>
<% end %>

<script>

	function unavailable(date) {
		dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
		return [$.inArray(dmy, unavailableDates) == -1];
	}

	$(function() {

		unavailableDates = [];

		$.ajax({
			url: '/preload',
			data: {'stylist_id': <%= @stylist.id %>},
			dataType: 'json',
			success: function(data) {

				$.each(data, function(arrID, arrValue) {
					for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
						unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
					}
				});

				$('#appointment_start_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '2m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#appointment_end_date').datepicker("option", "minDate", selected);
						$('#appointment_end_date').attr('disabled', false);
					}
				});

				$('#appointment_end_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '2m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#appointment_start_date').datepicker("option", "maxDate", selected);
					}
				});
			}
		});

		

	});
</script>