<div class="column">
	<div class="row devise">
		<div class="col-md-3">
			<ul class="sidebar-list">
				<li class="sidebar-item"><%= link_to "Client Appointments", client_appointments_path, class: "sidebar-link active" %></li>
				<li class="sidebar-item"><%= link_to "My Appointments", my_appointments_path, class: "sidebar-link" %></li>
			</ul>
		</div>
		<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Client Appointments</h4>
			</div>
			<div class="panel-body">
				<% @stylists.each do |stylist| %>
					
					<% stylist.appointments.each do |appointment|  %>
						<div class="row">
							<div class="col-md-3">
								<%= appointment.start_date.strftime('%A, %B %d, %Y %l:%M %P') %>
							</div>	
							<div class="col-md-6">
								<%= link_to user_path(appointment.user) do %>
									<%= appointment.user.fullname %> - 
									<%= appointment.user.phone_number %>
								<% end %>	
							</div>	
							<div class="col-md-3 right">
								<h4>appointment.total to go here</h4>
							</div>	
						</div>
						<hr>
					<% end %>

				<% end %>

			</div>
		</div>
	</div>
</div>