<div class="column">
	<div class="row devise">
		<div class="col-md-3">
			<ul class="sidebar-list">
				<li class="sidebar-item"><%= link_to "My Stylist Profile", stylists_path, class: "sidebar-link" %></li>
				<li class="sidebar-item"><%= link_to "Client Appointments", client_appointments_path, class: "sidebar-link" %></li>
				<li class="sidebar-item"><%= link_to "My Appointments", my_appointments_path, class: "sidebar-link active" %></li>
			</ul>
		</div>
		<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>My Appointments</h4>
			</div>
			<div class="panel-body">
				
				<% @my_appointments.each do |my_appointment| %>
					<div class="row">
						<div class="col-md-3">
							<%= my_appointment.start_date.strftime('%A, %B %d, %Y %l:%M %P') %>
						</div>	
						<div class="col-md-6">
							<%= link_to stylist_path(my_appointment.stylist) do %>
								<%= my_appointment.stylist.stylist_name %>
							
							at
							<%= my_appointment.stylist.salon_name %> - <%= my_appointment.stylist.salon_phone %>

							<% end %>
						</div>	
						<div class="col-md-3 right">
							<h4>my appointment total to go here</h4>
						</div>	
					</div>
					<hr>
				<% end %>

			</div>
		</div>
	</div>
</div>